html{
font-size: 18px;
}

body{
  font-family: Helvetica;
  margin: 0;
}

header{
  display: flex;
  justify-content: flex-start;
  background-color: black;
  align-items: center;
}

header img {
  max-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header span {
 color: white;
 font-size: 1rem;
 padding: 0.66rem 1rem;
}

.main_banner{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  display: flex;
  height: 25rem;
  align-items: center;
  position: relative;
  max-width: 960px;
  overflow: hidden;
  flex-direction: row;

}

.new {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: black;
  margin-top: 9rem;
  padding: 2rem 3rem;
  margin-left: 20%;

}

.x1 {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: white;
  padding: 2rem 0rem 0.25rem 0rem;
}

.x2 {
  font-size: 2rem;
  font-weight: bold;
  top: 0.25rem;
  text-align: left;
  color: white;
}

.navigation {
background-color: firebrick;
display: flex;
flex-direction: column;
}

.navigation nav {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-around;
}

.menu {
  display: none;
  color: white;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.product_grid{
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  flex-wrap: wrap;

}

.product {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
  height: auto;
  margin-top: 3rem;
  justify-content: center;
  align-items; center;
}

.product img {
  padding: 2rem 0;
  width: 100%;
}

.product span {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

.location {
  margin-top: 3rem;
  width: 35%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hours {
  margin-top: 3rem;
  width: 35%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
}

.less1024 {
  display: none;
}

.footer {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.footer span {
  color: white;
  text-align: left;
  margin-left: 20%;
}

@media only screen and (max-width: 1024px){
  .navigation nav {
    display: none;
  }
  .x1{
   font-size: 0.5rem;
  }
  .x2{
   font-size: 1rem;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
  .menu{
    display: flex;
  }
  .product_grid{
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
    height: auto;
    width: 100%;
  }
  .product {
    margin: 3%;
    width: 47%;
  }

#glasses {
  display: none;
}
  .less1024{
    display: flex;
    justify-content: space-around;
  }
  .product_grid .location{
    display: none;
  }

  .product_grid .hours {
    display: none;
  }

  .info{
    text-align: left;
    padding-left: 1rem;
  }


}
@media only screen and (max-width: 470px){
  .main_banner{
    height: 15rem;
  }

  .new{
   width: 100%;
   margin: 10rem 0 0 0;
   padding: 0.5rem;
  }
  .x1{
   font-size: 0.5rem;
  }
  .x2{
   font-size: 1rem;
  }
  .product_grid{
    overflow: hidden;
    flex-wrap: nowrap;
  }
  .product{
   width: 90%;
  }
  #watch {
    display: none;
  }
  .less1024{
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .location{
    width: 90%;
    margin: 0;
  }
  .hours {
    width: 90%;
    margin: 0;
  }
  .footer span{
    text-align: center;
  }
}
