html{
font-size: 18px;
}

body{
  font-family: Helvetica;
  margin: 0;
}

.sitecontain {
  /*max-width: 960px; */
}

header{
  display: flex;
  justify-content: flex-start;
  background-color: black;
  align-items: center;
}

div {
  border: 1px solid red;
}

header img {
  max-height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header span {
 color: white;
 font-size: 1rem;
 padding: 0.66rem 1rem;
}

.main_banner{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  display: flex;
  height: 25rem;
  align-items: center;
  position: relative;
  max-width: 960px;
  overflow: hidden;
}

.new {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: black;
  margin-top: 9rem;
  padding: 2rem 3rem;

}

.x1 {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: white;
  padding: 2rem 0rem 0.25rem 0rem;
}

.x2 {
  font-size: 2rem;
  font-weight: bold;
  top: 0.25rem;
  text-align: left;
  color: white;
}

.navigation {
background-color: firebrick;
display: flex;
flex-direction: column;
}

.navigation nav {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-around;
}

.product_grid{
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  flex-wrap: wrap;

}

.product {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
  justify-content: center;
  align-items; center;
}

.product img {
  height: 9rem;
  padding: 2rem 0;
  max-width: auto;
}

.product span {
  background-color: black;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}

.location {
  margin-top: 3rem;
  width: 35%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.hours {
  margin-top: 3rem;
  width: 35%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
}

.info {
  background-color: black;
  color: white;
  padding: 1rem 2rem;

}

.footer {
  height: 5rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.footer span {
  color: white;
  text-align: left;
}

@media only screen and (max width: 1024px){
  }
  nav span{
    display: none;
  }
  .product_grid{
    overflow: hidden;
    flex-wrap: nowrap;
  }
  .x1{
   font-size: 0.5rem;
  }
  .x2{
   font-size: 1rem;
  }
}
